/********************************BORDER COLOR****************************/
.border-color,
.sc-network li a:hover{
	border:1px solid #e74847;
}
#what-client-say .item-cus .cus-image-box:hover{
	border:5px solid #e74847;
}
/********************************BACKGROUND****************************/

.bg_color,
.right-content-header .btn-toggle .cart-icon .amount-i,
.button:hover,
.link-compare:hover,
.link-wishlist:hover,
.respl-item .item-inner .item-image .link-wishlist:hover,
.sort-by .btn-sortby:hover,
.yt-product-detail .tab-product-detail .yt-tab-navi > li.active,
.yt-product-detail .tab-product-detail .yt-tab-navi > li:hover,
.container-slider-detail .control-button li:hover,
#yt_main .yt-product-detail .block-related .related-page > li.active,
#yt_main .yt-product-detail .block-related .related-page > li:hover,
#confirmbox .button.btn-cart:hover > span, #btcancel:hover, #btccart:hover span, #btcshop:hover span,
.promotional-popup .btn-newsletter:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_top_actived,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_actived,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:hover > a,
.btn_slide a:hover,
.yt-tab-listing .respl-tabs-container .respl-tabs > li.tab-sel, 
.yt-tab-listing .respl-tabs-container .respl-tabs > li:hover,
#checkoutSteps .active .step-title,
.cms-home .nav-home-active > a,
#nav > li.active > a,
#nav > li.active > a:hover,
#nav > li:hover > a,
#yt-totop:hover,
.sm_quickview_handler:hover,
.dropdow-nav li.parent .toggle:hover,
.dropdow-nav li .touch-item:hover,
.sc-network li a:hover,
.sm-deal-wrap .view-detail:hover,
.blog-list-left .item-bl:hover .date-blog-left{
	background-color:#e74847;
}


.carousel-indicators > li:hover,
.carousel-indicators > li.active,
.sm-serachbox-pro .sm-searbox-content .form-button.button,
.submit-login .submit-repl:hover,
.cur-lang-block .jqTransformSelectWrapper div span:hover,
.cur-lang-block .language-switcher:hover .jqTransformSelectWrapper div span,
.cur-lang-block .block-currency:hover .jqTransformSelectWrapper div span{
	background-color:#e74847!important;
}
/********************************BACKGROUND + BORDER****************************/

.bg_border_color,
.pagination-wrap .pagination .pages ol li a:hover,
.pagination-wrap .pagination .pages ol li.current a,
.container-slider .page-button.style2 .control-button > li:hover,
.slider-tab-listing .control-button .prev_tablist:hover,
.slider-tab-listing .control-button .next_tablist:hover,
.yt-product-detail .more-views.slide-gallery .next:hover,
.yt-product-detail .more-views.slide-gallery .prev:hover,
.container-slider-best .control-button li:hover,
.sm-deal-wrap .next_deal:hover,
.sm-deal-wrap .prev_deal:hover{
	background-color:#e74847!important;
	border-color:#e74847!important;
}

/********************************COLOR****************************/

.color, 
body a:hover,
#yt_main .products-list .product-info .price,
#yt_main .products-list .product-info .special-price,
.yt-product-detail .yt-detail-right .price-box,
.yt-product-detail .yt-detail-right .availability > span,
.dropdow-nav .more-view:hover,
.text_big2 .color-text,
.mini-cartpro .block-content .mini-products-list li.item .price,
.mini-cartpro .price-total .price-total-w,
#nav > li > ul li:hover > a,
.respl-item .item-info .item-price .price,
.respl-item .item-info .special-price,
.left-product-base .special-price .special-price, .left-product-base .regular-price .price{
	color:#e74847;
}
.reg-account a:hover{
	color:#e74847!important;
}

.header-top .links-account > li > a:hover,
.header-top .links > li > a:hover,
.header-top .links-account li a.clicked{
	border-bottom:2px solid #e74847;
}

.mini-cartpro .block-content,
.link-mobile-wrapper{
	border-top:5px solid #e74847;
}

.more-views.slide-gallery .jCarouselLite .selected  img,
.more-views.slide-gallery .jCarouselLite   img:hover{
	border:1px solid #e74847;
}


/**********************************************************************/
.respl-item .item-inner .item-time .item-timer{
	background:url(../../images/red/bg-timer.png) no-repeat top right;	
}
.respl-item .item-inner  .item-time .item-timer:after{
	content:"";
	width:33px;
	height:75px;
	position:absolute;
	left:-33px;
	top:0px;
	background:url(../../images/red/after-left.png) no-repeat top left;	
}
.right-content-header .btn-toggle .cart-icon {
	background:url(../../images/red/icon-mini-cart-red.png) no-repeat top left;
}

.view-mode .grid{
	background-image:url(../../images/red/grid-icon-red.png);
}
.view-mode .list{
	background-image:url(../../images/red/list-icon-red.png);
	border-right: 1px solid #FFFFFF;
}

#yt_left .block .block-title, #yt_right .block .block-title,
.related-header .block-title,
.block-right-nav .block-title,
.home-products .block-title,
#yt_main .page-title h1 {
	background:url(../../images/red/bg-title-strong.png) no-repeat bottom left;
}

.salamy-logo{
	background:url(../../images/red/logo-salamy.png) no-repeat center center;
}

.wishlist-compare .links a{
	background:url(../../images/red/wishlist-header-icon.png) no-repeat 0px 5px;
}

.wishlist-compare  a.block-compare{
	background:url(../../images/red/compare-header-icon.png) no-repeat 0px 5px;
}
.wishlist-compare a:hover {
    background-position: 0 -79px;
}

.list-cat li a{
	background:url(../../images/red/bl-list-megamenu.png) no-repeat 0px 6px;
}
@media (max-width: 767px) {
	.cur-lang-block .jqTransformSelectWrapper div span:hover,
	.cur-lang-block .language-switcher:hover .jqTransformSelectWrapper div span,
	.cur-lang-block .block-currency:hover .jqTransformSelectWrapper div span{
		background-color:transparent!important;
	}
	.cur-lang-block .jqTransformSelectWrapper > div:hover .jqTransformSelectOpen, .cur-lang-block .language-switcher:hover .jqTransformSelectOpen, .cur-lang-block .block-currency:hover .jqTransformSelectOpen{
		background-position:left top;
	}
	.cur-lang-block .language-switcher:hover .jqTransformSelectWrapper div span, .cur-lang-block .block-currency:hover .jqTransformSelectWrapper div span{
		color:inherit;
	}
	.sm-serachbox-pro,
	#yt_resmenu_collapse{
		border-top:5px solid #e74847;
	}
}
/*================================================================================================================*/
.btn_slide a{
	background:#da5656;
}
.respl-item .item-inner  .item-time .item-timer:before{
    border: 5px solid transparent;
    border-left: 5px solid #be1e1d;
    border-bottom: 5px solid #be1e1d;
}